@use "color-theme" as colors;

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: colors.$bg-dark;

  .banner__text {
    align-self: center;
    justify-self: end;
    max-width: 560px;
    margin-right: 80px;
  }

  .banner__title {
    margin-bottom: 21px;

    font-size: 56px;
    line-height: 67px;
  }

  .banner__description {
    max-width: 500px;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 30px;

    color: colors.$text-light;
  }

  .banner__search-input {
    max-width: 310px;
    margin-right: 12px;
  }

  .banner__search-btn {
    padding: 9px 18px 11px;
    font-size: 20px;
    line-height: 30px;
  }
}
