@use "color-theme" as colors;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  background-color: colors.$bg-light;
  color: colors.$text-dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: colors.$primary;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

mark {
  display: inline-block;
  padding: 0 0.25rem;
  background-color: colors.$primary;
  color: #FFFFFF;
}

ol,
ul {
  list-style: none;
  &>li {
    display: contents;
  }
}

ol.list--styled,
ul.list--styled {
  padding-left: 1.5rem;

  list-style: initial;

  &>li::marker {
    color: colors.$primary;
  }
}

img {
  display: block;
  width: 100%;
}

$border-radius: 6px;
$box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);

.btn {
  display: block;
  width: 100%;
  padding: 9px 21px;

  border: none;
  border-radius: $border-radius;

  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  text-decoration: none;

  &.btn--block {
    display: block;
    width: 100%;
  }

  &.btn--inline {
    display: inline-block;
    width: fit-content;
  }

  &.btn--size-big {
    padding: 13px 25px;
    font-size: 1.5rem;
  }

  .btn__icon {
    display: inline-block;

    $margin: 6px;

    &.btn__icon--left {
      margin-right: $margin;
    }

    &.btn__icon--right {
      margin-right: $margin;
    }

    font-family: "Material Symbols Outlined";
    font-size: 1.25rem;
    line-height: inherit;
    vertical-align: sub;

    &.btn__icon--fill {
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    }
  }

  &.btn--icon-right::after {
    content: 'chevron_right';
    padding-left: 4px;

    font-family: "Material Symbols Outlined";
    font-size: inherit;
    line-height: inherit;
    vertical-align: sub;
  }

  &.btn--icon-down::after {
    content: 'keyboard_arrow_down';
    padding-left: 4px;

    font-family: "Material Symbols Outlined";
    font-size: inherit;
    line-height: inherit;
    vertical-align: sub;
  }

  &:hover {
    cursor: pointer;
  }

  &.btn--style-primary {
    background: colors.$primary;
    color: #FFFFFF;

    &:hover {
      background: colors.lighten(colors.$primary, 1);
    }

    &:active {
      background: colors.darken(colors.$primary, 0.6);
    }
  }

  &.btn--style-outline {
    background: colors.$bg-light;
    color: colors.$text-dark;
    border: 1px solid colors.$bg-darker;
    box-shadow: $box-shadow;

    &:hover {
      background: colors.darken(colors.$bg-light, 0.2);
    }

    &:active {
      background: colors.darken(colors.$bg-light, 0.4);
    }
  }

  &.btn--style-floating {
    background: none;
    color: inherit;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }

    &:active {
      background: rgba(0, 0, 0, 0.08);
    }
  }
}

.labeled-input {
  display: block;
  position: relative;

  .labeled-input__input {
    display: block;
    width: 100%;
    padding: 9px 16px;

    border: 1px solid colors.$bg-darker;
    border-radius: $border-radius;

    font-size: 20px;
    line-height: 30px;

    background: colors.$bg-light;
    color: colors.$text-dark;

    box-shadow: $box-shadow;
  }

  .labeled-input__label {
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: 16px;

    font-size: 20px;
    line-height: 30px;
    align-content: center;

    color: colors.$text-light;

    pointer-events: none;
  }

  // ================================================================
  // Technically, this could be done with placeholder text,
  // however <label> has semantic meaning that placeholder does not.

  &.labeled-input--state-empty .labeled-input__label {
    opacity: 1;
  }

  &.labeled-input--state-filled .labeled-input__label {
    opacity: 0;
  }

  // ================================================================

  &.labeled-input--inline {
    display: inline-block;
  }

  &.labeled-input--icon-search {
    .labeled-input__input {
      padding-left: 16px + 24px + 16px;
    }

    .labeled-input__label {
      left: 16px + 24px + 16px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      bottom: 12px;
      left: 16px;

      display: block;
      width: 24px;
      height: 24px;

      background-image: url('../icons/search.svg');
      background-position: center;

      opacity: 1;
    }
  }
}

.section {
  margin-bottom: 128px;

  .section__text-pill {
    display: block;
    width: fit-content;
    margin-bottom: 20px;
    padding: 4px 12px;

    font-size: 14px;
    line-height: 21px;

    border-radius: 100vh;

    background-color: colors.$bg-darker;
    color: colors.$text-dark;

    &.section__text-pill--align-center {
      margin: {
        left: auto;
        right: auto;
      };
    }
  }

  .section__title {
    margin-bottom: 21px;

    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    &.section__title--align-left {
      text-align: left;
    }
  }

  .section__description {
    font-size: 18px;
    line-height: 27px;

    color: colors.$text-light;
  }
}
