@use "color-theme" as colors;

body {
  background-color: colors.$bg-light;
  color: colors.$text-dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: colors.$primary;
}

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

mark {
  display: inline-block;
  padding: 0 0.25rem;
  background-color: colors.$primary;
  color: #FFFFFF;
}

ol,ul {
  padding-left: 1.5rem;

  & > li::marker {
    color: colors.$primary;
  }
}
