.contact-panel {
  width: fit-content;
  margin: 0 auto;
  padding-right: 4px;

  .contact-panel__explore {
    margin-right: 26px;
    padding: 12px 30px;
  }

  .contact-panel__contact {
    padding: 9px 0;

    &:hover, &:active {
      background: none;
    }
  }
}
