@use "color-theme" as theme;

.markup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  .markup__title {
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .markup__card {
    background: theme.$bg-dark;
    padding: 10px 20px 20px;
    border-radius: 6px;

    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .markup__color-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .markup__color-swatch {
    aspect-ratio: 2;
    text-align: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;

    &.markup__color-swatch--color-primary {
      background: theme.$primary;
      color: white;
    }

    &.markup__color-swatch--color-secondary {
      background: theme.$secondary;
      color: white;
    }

    &.markup__color-swatch--color-text-light {
      background: theme.$text-light;
      color: white;
    }

    &.markup__color-swatch--color-text-dark {
      background: theme.$text-dark;
      color: white;
    }

    &.markup__color-swatch--color-bg-light {
      background: theme.$bg-light;
      color: black;
    }

    &.markup__color-swatch--color-bg-dark {
      background: theme.$bg-dark;
      color: black;
    }

    &.markup__color-swatch--color-bg-darker {
      background: theme.$bg-darker;
      color: black;
    }
  }
}
